.header {
    width: 100%;

    &__contact {
        background-color: #fdb813;
        height: 49px;
        &--left,
        &--right {
            display: flex;
            font-size: 12px;
            column-gap: 34px;
        }
        &--left {
            margin-left: 40px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        line-height: 49px;
        // align-items: center;
    }
    &__menu {
        background-color: #0d1d31;
        height: 70px;
        justify-content: space-between;
        position: sticky;
        z-index: 99;
        width: 100%;
        // line-height: 70px;
    }
    &__img {
        width: 149px;
        height: 29px;
        margin-top: 14px;
    }
    &__list {
        display: flex;
        column-gap: 37px;
        align-items: center;
        height: 70px;
    }
    &__link {
        font-size: 16px;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: #ffff;
        font-weight: 700;
    }
    &__item {
        position: relative;
        &--list {
            position: absolute;
            z-index: 99;
            background: #0d1d31;
            top: 45px;
            display: none;
            white-space: nowrap;
            min-width: 200px;
            border-left: 3px solid #fdb813;
        }
        &--link {
            color: #fff;
            display: block;
            padding: 0.5rem;
            border-bottom: 1px #666 solid;
        }
    }
    @include maxWidth(768px) {
    }
}
.menu__container {
    display: flex;
    justify-content: space-between;
}
.home__2x {
    font-size: 1.5em;
}
.header__item:hover .header__item--list {
    display: block;
}
