.news {
    background: #263548;
    color: #fff;
    // height: 500px;
    &__container {
        position: relative;
    }
    &__title {
        text-transform: uppercase;
        font-size: 1.8rem;
        color: #fff;
        font-family: "Fester-Bold", sans-serif;
        text-align: center;
        padding: 48px 0 24px 0;
    }
    &__slick {
        padding: 0 40px;
    }
    &__list {
        display: flex;
        // grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    &__item {
        padding-left: 30px;
    }
    // &__item {
    //     img {
    //         height: 260px;
    //         object-fit: cover;
    //     }
    // }
    &__img {
        height: 260px;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__item {
        width: 344px;
    }
    &__content {
        padding: 15px;
        background: #0d1d31;
    }
    &__kind {
        text-align: center;
    }
    &__name {
        text-align: center;
        font-size: 1.25rem;
        text-transform: uppercase;
        -webkit-line-clamp: 2;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        // height: px;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        color: #fff;
    }
    &__button {
        justify-content: center;
        border: 1px solid #fdb813;
        padding: 8px 16px;
        border-radius: 50px;
        color: #fff;
        transition: ease-in-out 0.2s;
    }
    @include maxWidth(768px) {
        &__item:ntn(1) {
            padding: 0;
        }
        &__item:ntn(2) {
            padding-left: 40px;
        }
        &__slick {
            padding: 0 20px;
        }
    }
}
.news button {
    background: transparent;
    border: 1px solid #fff;
    width: 45px;
    height: 45px;
}
