.progress {
    background: #263548;
    color: #fff;
    padding-bottom: 48px;
    &__title {
        font-family: "Fester-Bold", sans-serif;
        font-size: 1.75rem;
        text-align: center;
        padding: 3rem 0;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-around;
        padding-bottom: 50px;
        border-bottom: 2px solid #dee2e6;
    }
}
